# Docker Compose for Qubic Bob (includes Redis and Kvrocks)
# Image: qubiccore/bob:latest

services:
  qubic-bob:
    image: qubiccore/bob:latest
    container_name: qubic-bob
    restart: unless-stopped
    ports:
      - "21842:21842"
      - "40420:40420"
    volumes:
      # - ./bob.json:/app/bob.json:ro # if needed you can use a custom configuration
      # - ./redis.conf:/etc/redis/redis.conf:ro # custom Redis config (e.g., to increase maxmemory beyond default 4GB)
      - qubic-bob-redis:/data/redis
      - qubic-bob-kvrocks:/data/kvrocks
      - qubic-bob-data:/data/bob

volumes:
  qubic-bob-redis:
    driver: local
  qubic-bob-kvrocks:
    driver: local
  qubic-bob-data:
    driver: local
